/bin/
.settings/
.project
.classpath
.idea/
out/
*.iml
*.class
*.txt
*.png
/OCR/src/config.properties
Commands/src/main/Test.java
*.log
/RunableTools/src/base/
/RunableTools/src/demo/
*/niuke.properties
runable/niuke.properties
/runable/commands.yml
/commands.yml
/RunableTools/src/niuke/
/CommandsWeb/
/AdbToolsPythons/
